// ----------------------------------------------------------------
// Variables
// ----------------------------------------------------------------

// Colors
$grey: #cdcdcd;
$black: #212121;
$hot: #e91e63;
$warm: #7c4881;

// Typography
$body-font: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Layout
$spacer: 1rem;

// ----------------------------------------------------------------
// Mixins
// ----------------------------------------------------------------

// Typography
@mixin big() {
  font-size: 2.125em;
  line-height: 1.1;
  font-weight: bold;
  @include breakpoint(phablet) {
    font-size: 1.65em;
  }
}

@mixin medium() {
  font-size: 1.75em;
  line-height: 1.1;
  font-weight: bold;
  @include breakpoint(phablet) {
    font-size: 1.5em;
  }
}

@mixin small() {
  font-size: 0.875em;
}

// ----------------------------------------------------------------
// Syles
// ----------------------------------------------------------------

// Site-wide ----------------------
html {
  height: 100%;
  @include breakpoint(mindesktop) {
    font-size: 131.25%;
  }
}

body {
  color: $black;
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// reset
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// home page
.home {
  color: $warm;
  font-size: 1.1875rem;
  a {
    text-decoration: none;
    color: $hot;
    transition: all 0.2s ease-in-out;
  }

  .site-title {
    text-align: center;
    margin: 2em 0;
    font-size: 2em;
  }

  .poster-list {
    text-align: center;
    li {
      margin: 1em 0;
      font-weight: bold;
    }
  }

  .poster-link {
    opacity: 0.8;
    display: block;
    &:hover {
      opacity: 1;
      transform: scale(2);
    }
  }
  .poster-link--inactive {
    opacity: 0.5;
  }
}

// All Gigs ----------------------
.gig {
  line-height: 1.4;
  background: $grey;
  padding: $spacer;
  min-height: 100%;
  display: grid;
}
